{{>navbar}}
<header>Welcome to Cocktail_Coterie</header>
<h1>{{user.firstName}}</h1>
<h1>{{user.lastName}}</h1>
<p>{{user.email}}</p>
<p>{{user.zoom}}</p>
<div>
    {{#each user.preferrance}}
    <ul>
        {{this}}
    </ul>
    {{/each}}
</div>

<button id="edit-personal" type="submit" class="btn btn-primary">Edit</button>
{{#if edit}}
<form>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input class="form-control" id="inputFirstName" val={{user.firstName}}>
    </div>

    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input class="form-control" id="inputLastName" val={{user.lastName}}>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="InputEmail1" val={{user.email}}< />
    </div>

    {{>personal info}}
    <button id="save-personal" type="submit" class="btn btn-primary">Save</button>
</form>
{{/if}}